In [21]:
a=float(input("Enter First Number"))
b=float(input("Enter Second Number"))
c=a+b
print("Sum :",c)

d=float(input("Enter First Number"))
e=float(input("Enter Second Number"))
f=d/e
print("Division :",f)

Enter First Number23
Enter Second Number34
Sum : 57.0
Enter First Number23
Enter Second Number23
Division : 1.0

In [22]:
g=float(input("Enter First Number"))
h=float(input("Enter Second Number"))
i=g*h/2
print("Area Of Triangule :",i)

Enter First Number23
Enter Second Number22
Area Of Triangule : 253.0

In [23]:
j=float(input("Enter First Number"))
l=9/5*j+32
print("Fahrenheit",l)

Enter First Number37
Fahrenheit 98.60000000000001

In [24]:
m=int(input("Enter Any Number") )
print("Your First Input Type is " ,type(m))
n=float(input("Enter Any Point Number") )
print("Your Second Input Type is " ,type(n))
o=str(input("Enter Any Name") )
print("Your Third Input Type is " ,type(o))

Enter Any Number23
Your First Input Type is  <class 'int'>
Enter Any Point Number23.9
Your Second Input Type is  <class 'float'>
Enter Any Namenoman
Your Third Input Type is  <class 'str'>